name: CI
on:
  push:
    branches:
      - "main"
  repository_dispatch:

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  build-and-deploy:
    runs-on: ubuntu-latest
    needs:
      - load-test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm ci
      - run: npm run build --if-present
        env:
          CI: true
      - uses: cloudflare/wrangler-action@1.3.0
        name: Deploy to Cloudflare
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}

  semantic-release:
    runs-on: ubuntu-latest
    needs:
      - build-and-deploy
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
          cache: "npm"
      - run: npm ci
      - run: npx semantic-release
        name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  load-test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs:
      - build-and-deploy
    steps:
      - uses: actions/checkout@v3
      - uses: grafana/k6-action@v0.2.0
        name: Run k6 test
        with:
          filename: scripts/test.js
