name: CI
on:
    push:
        branches:
            - main
    repository_dispatch:
jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        name: Build & Deploy
        timeout-minutes: 60
        steps:
            - uses: actions/checkout@v2

            - name: Build Using Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - run: npm install
            - run: npm run build --if-present
              env:
                  CI: true

            - name: Deploy
              uses: cloudflare/wrangler-action@1.3.0
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
                  environment: 'production'
